{% extends 'layout.html' %}
{% block title %}实战{% endblock %}
{% block header %}
    <li><a href='/'>主页</a></li>
    <li><a href='/tagger' class="active">实战</a></li>
{% endblock %}
{% block main %}
    <div id="container" class="'container">
        <div id="row">
            <h3 id="loadtitle">输入句子, 点击按钮进行词性标注</h3>
            <textarea id="userinput"></textarea>
            <select id="language" onchange="selectlan()">
                <option value="" selected>--请选择语言--</option>
                <option value="ch">中文</option>
                <option value="en">English</option>
            </select>
            <button id="analysis" onclick="tagger()">分析</button>
        </div>
        <div id="result" style="display: none;">
            <h3 id="title">词性标注结果</h3>
            <div id="board"></div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}